<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sistema de Inscripciones</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="/images/logoviadiseno.jpg" alt="Logo ViaDiseno" width="60" height="60">
            </a>
            <span class="navbar-brand mb-0 h1">Sistema de Inscripciones</span>
            <a class="navbar-brand">
                <img src="/images/person-circle.svg" alt="Avatar" width="50" height="50">
            </a>
        </div>
    </nav>