<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <title>Sistema de Inscripciones</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="/images/logoviadiseno.jpg" alt="Logo ViaDiseno" width="60" height="60">
            </a>
            <% if (titulo == "alumnos") { %>
                <span class="navbar-brand mb-0 h1">Alumnos</span>
            <% } else if (titulo == "alumnos_regulares") { %>
                <span class="navbar-brand mb-0 h1">Mi horario</span>
            <% } else if (titulo == "maestros") { %>
                <span class="navbar-brand mb-0 h1">Maestros</span>
            <% } else if (titulo == "plan") { %>
                <span class="navbar-brand mb-0 h1">Plan de estudio</span>
            <% } else if (titulo == "materias") { %>
                <span class="navbar-brand mb-0 h1">Materias</span>
            <% } else { %>
                <span class="navbar-brand mb-0 h1">Sistema de Inscripciones</span>
            <% } %>
            <span>
                <a class="navbar-brand material-symbols-outlined fs-2">
                    notifications
                </a>
                <a class="navbar-brand material-symbols-outlined fs-1">
                    account_circle
                </a>
            </span>
        </div>
    </nav>