<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <h3 class="text-center mt-5">Materias</h3>


            <!-- Materia num1 -->

            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Ilustración Gráfica Digital (Illustrator)</h5>
                            <p class="card-text">Profesor Alberto Méndez Álvarez</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>
                </div>
            </div>

            <!-- Modal Principal -->
            <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal1Label">Ilustración Gráfica Digital (Illustrator)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Alberto Méndez Álvarez</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>

                            <!-- Botón para abrir el modal de eliminación -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminar1">
                                Eliminar Materia
                            </button>

                            <br><br>

                            <!-- Botón para cambiar de materia -->
                            <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia" data-form-id="formulario1">

                            <!-- Formulario para cambio de materia -->
                            <form id="formulario1" class="form-cambio-materia" style="display: none;">
                                <div class="mb-3">
                                    <label for="materia1" class="form-label">Materia por la que se solicita cambiar:</label>
                                    <input type="text" class="form-control input-materia" id="materia1" aria-describedby="help1" required>
                                    <div id="help1" class="form-text">Se enviará la información a coordinadores, esperar respuesta de solicitud.</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de Confirmación para Eliminar Materia -->
            <div class="modal fade" id="modalEliminar1" tabindex="-1" aria-labelledby="modalEliminar1Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEliminar1Label">Confirmar Eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que quieres eliminar la materia <strong>Ilustración Gráfica Digital</strong> de tu horario?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--Materia num2 -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Conceptos y Tendencias de la Moda I</h5>
                            <p class="card-text">Profesor Juan Ignacio Arriola Ruiz</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modal2">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>
                </div>
            </div>
            <!-- Modal for Materia num2 -->
            <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal2Label">Confección de prendas básicas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--aquí empieza el body del modal-->
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Juan Ignacio Arriola Ruiz</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>
                            <!--CAMBIOS-->
                            <div>
                                <button type="button" class="btn btn-danger">Eliminar materia</button>
                                <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia"
                                    data-form-id="formulario2">
                                <br>
                                <form id="formulario2" class="form-cambio-materia" style="display: none;">
                                    <div class="mb-3">
                                        <label for="materia2" class="form-label">Materia por la que se solicita
                                            cambiar:</label>
                                        <input type="text" class="form-control input-materia" id="materia2"
                                            aria-describedby="help2" required>
                                        <div id="help2" class="form-text">Se enviará la información a coordinadores,
                                            esperar respuesta de solicitud.</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                <!--FIN DE CAMBIOS-->
                            </div>
                            <!--aquí termina el body del modal-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Materia num3 -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Diseño de Moda Asistido por Computadora (Gerber Accumark)</h5>
                            <p class="card-text">Profesor Antonia García Heche</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modal3">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>
                </div>
            </div>

            <!-- Modal for Materia num3 -->
            <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal3Label">Confección de prendas básicas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--aquí empieza el body del modal-->
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Antonia García Heche</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>
                            <!--CAMBIOS-->
                            <div>
                                <button type="button" class="btn btn-danger">Eliminar materia</button>
                                <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia"
                                    data-form-id="formulario3">
                                <br>
                                <form id="formulario3" class="form-cambio-materia" style="display: none;">
                                    <div class="mb-3">
                                        <label for="materia3" class="form-label">Materia por la que se solicita
                                            cambiar:</label>
                                        <input type="text" class="form-control input-materia" id="materia3"
                                            aria-describedby="help3" required>
                                        <div id="help3" class="form-text">Se enviará la información a coordinadores,
                                            esperar respuesta de solicitud.</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                <!--FIN DE CAMBIOS-->
                            </div>
                            <!--aquí termina el body del modal-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Materia num4 -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Diseño de Accesorios</h5>
                            <p class="card-text">Profesor Esther Vázquez Herrera</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modal4">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>
                </div>
            </div>
            <!-- Modal for Materia num4 -->
            <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal4Label">Confección de prendas básicas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--aquí empieza el body del modal-->
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Esther Vázquez Herrera</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>
                            <!--CAMBIOS-->
                            <div>
                                <button type="button" class="btn btn-danger">Eliminar materia</button>
                                <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia"
                                    data-form-id="formulario4">
                                <br>
                                <form id="formulario4" class="form-cambio-materia" style="display: none;"
                                    action="/cambioMateria" method="POST">
                                    <div class="mb-3">
                                        <label for="materia4" class="form-label">Materia por la que se solicita
                                            cambiar:</label>
                                        <input type="text" class="form-control input-materia" id="materia4"
                                            aria-describedby="help4" required>
                                        <div id="help4" class="form-text">Se enviará la información a coordinadores,
                                            esperar respuesta de solicitud.</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                <!--FIN DE CAMBIOS-->
                            </div>
                            <!--aquí termina el body del modal-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Materia num5 -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Patronaje de Prendas Femeninas</h5>
                            <p class="card-text">Profesor Beatriz Paredes Sevilla</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modal5">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>
                </div>
            </div>
            <!-- Modal for Materia num5 -->
            <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal5Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal5Label">Confección de prendas básicas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--aquí empieza el body del modal-->
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Profesor Beatriz Paredes Sevilla</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>
                            <!--CAMBIOS-->
                            <div>
                                <button type="button" class="btn btn-danger">Eliminar materia</button>
                                <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia"
                                    data-form-id="formulario5">
                                <br>
                                <form id="formulario5" class="form-cambio-materia" style="display: none;">
                                    <div class="mb-3">
                                        <label for="materia5" class="form-label">Materia por la que se solicita
                                            cambiar:</label>
                                        <input type="text" class="form-control input-materia" id="materia5"
                                            aria-describedby="help5">
                                        <div id="help5" class="form-text">Se enviará la información a coordinadores,
                                            esperar respuesta de solicitud.</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                <!--FIN DE CAMBIOS-->
                            </div>
                            <!--aquí termina el body del modal-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--Materia num6 -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Confección de Prendas Femeninas</h5>
                            <p class="card-text">Profesor Inés Pineda González</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modal6">
                                Ver más
                            </button>
                        </div>
                        <div class="col-1 bg-blue rounded-start"></div>
                    </div>

                </div>
            </div>
            <!-- Modal for Materia num6 -->
            <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal6Label">Confección de prendas básicas</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--aquí empieza el body del modal-->
                            <dl class="row">
                                <dt class="col-sm-9">Nombre de Profesor:</dt>
                                <dd class="col-sm-9">Juan Antonia García Heche</dd>

                                <dt class="col-sm-9">Horario:</dt>
                                <dd class="col-sm-9">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Lunes: 9:00-11:00</li>
                                        <li class="list-group-item">Martes: 2:00-3:00</li>
                                        <li class="list-group-item">Miércoles 9:30-11:30</li>
                                        <li class="list-group-item">Jueves 2:00-3:00</li>
                                    </ul>
                                </dd>
                            </dl>
                            <!--CAMBIOS-->
                            <div>
                                <button type="button" class="btn btn-danger">Eliminar materia</button>
                                <input class="btn btn-primary btn-cambiar-materia" type="button" value="Cambiar materia"
                                    data-form-id="formulario6">
                                <br>
                                <form id="formulario6" class="form-cambio-materia" style="display: none;">
                                    <div class="mb-3">
                                        <label for="materia6" class="form-label">Materia por la que se solicita
                                            cambiar:</label>
                                        <input type="text" class="form-control input-materia" id="materia6"
                                            aria-describedby="help6">
                                        <div id="help6" class="form-text">Se enviará la información a coordinadores,
                                            esperar respuesta de solicitud.</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                                <!--FIN DE CAMBIOS-->
                            </div>
                            <!--aquí termina el body del modal-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Obtener todos los botones de cambiar materia
                let botones = document.querySelectorAll(".btn-cambiar-materia");
        
                botones.forEach(boton => {
                    boton.addEventListener("click", function () {
                        let formId = this.getAttribute("data-form-id"); 
                        let formulario = document.getElementById(formId); 
                        
        
                        // Alternar visibilidad del formulario
                        if (formulario.style.display === "none" || formulario.style.display === "") {
                            formulario.style.display = "block";
                        } else {
                            formulario.style.display = "none";
                        }
                    });
                });
            });
        </script>        