<div class="col-md-8">
    <div class="table-responsive">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Día 1</th>
                    <th>Día 2</th>
                    <th>Día 3</th>
                    <th>Día 4</th>
                    <th>Día 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>7</th>
                    <td class="bg-salmon"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td class="bg-salmon"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td class="bg-purple"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>10</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>11</th>
                    <td></td>
                    <td class="bg-purple"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>12</th>
                    <td></td>
                    <td class="bg-pink"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>13</th>
                    <td></td>
                    <td></td>
                    <td class="bg-green"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>14</th>
                    <td></td>
                    <td></td>
                    <td class="bg-green"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>15</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bg-blue"></td>
                    <td class="bg-pink"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>